<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download File</title>
</head>
<body>
    <a href="/upload">Back</a>
    <div id="downloadFileBody">
        <h3>Press download to begin download</h3>
        <button id="downloadBtn"><a href="/downloaded/<%= fileHash %>" download="<%=fileName%>">Download</a> </button>
    </div>
</body>
</html>