<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trashbox</title>
</head>
<body>
    <a href="/trashbox">Trashbox</a> | <a href="/upload">Upload</a>
    <h1>File list : </h1>
    <table style="text-align: left;" border="1">
        <th>
            Filename
        </th>
        <th>
            DeleteTime
        </th>
        <th>
            Size
        </th>
        <th>
            Actions
        </th>
       
        <% for (var i=0;i<results.length;i++) { %>
            <tr>
                <td>
                    <%=results[i].Filename %>
                </td>
                <td>
                    <%=results[i].DeletedAt.toISOString().
                    replace(/T/, ' ').      
                    replace(/\..+/, '') %>
                </td>
                <td>
                    
                  <% var size=results[i].Filesize; 
                  var rem=size%1024; 
                  size=size/1024;
                  var unit=" KB";  
                  if(size>=1024)
                  {
                      size=size/1024;
                      unit=" MB";
                  }
                  if(size>=1024)
                  {
                    size=size/1024;
                    unit=" GB";
                  }
                  
                  %>
                    
                  <%= Math.round(size)+"."+ rem + unit %>
                   
                </td>
                <td>
                    <a href="#">Restore</a> | 
                    <a href="upload/delete/<%=results[i].FileID%>">Delete</a>
                </td>
            </tr>
        <% } %>
       
</body>
</html>